<!doctype html>

<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='birthdayfeed.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='birthdayfeed.css') }}">
        <title>birthdayfeed</title>
    </head>
    <body>
        <h1>
            <img src="{{ url_for('static', filename='birthday+feed.png') }}" alt="(birthdayfeed icon)">
            birthdayfeed
        </h1>
        <p>Subscribe to birthdays in a feed reader or calendar</p>
        <form method="post">
            <p class="data-location">
                <label for="d">data location:</label>
                <input type="text" id="d" name="d" value="{{ request.values.d if request.values.d }}">
                <select name="l" aria-label="Translation">
                    {% for t_val, t_name in [
                        ('en-an', 'Anniversaries (English)'),
                        ('en-bd', 'Birthdays (English)'),
                    ] %}
                    <option value="{{ t_val }}" {{ 'selected' if request.values.l == t_val or t_val == 'en-bd' }}>
                        {{ t_name }}
                    </option>
                    {% endfor %}
                </select>
                <input type="submit" value="generate urls" class="button">
            </p><p></p>
        </form>
        {% if request.values.d %}
        <div class="results">
            <p>
                <strong>Feed reader URL:</strong>
                <code class="user-select-all">{{ url_for('atom', d=request.values.d, l=request.values.l, _external=true, _scheme=g.scheme) }}</code>
            </p>
            <p>
                <a href="https://feedly.uservoice.com/knowledgebase/articles/187494-how-to-add-news-feeds-to-your-feedly">
                    How do I subscribe to a feed in Feedly?
                </a>
            </p>
            <p>
                <strong>Calendar URL:</strong>
                <code class="user-select-all">{{ url_for('ics', d=request.values.d, l=request.values.l, _external=true, _scheme=g.scheme) }}</code>
            </p>
            <p>
                <a href="https://support.google.com/calendar/answer/37100">
                    How do I subscribe to a calendar in Google Calendar?
                </a>
            </p>
        </div>
        {% endif %}
        <h2>Instructions</h2>
        <p>
            The easiest way to get started using <strong>birthdayfeed</strong> is to create a spreadsheet in Google
            Sheets with the birthdays you want to be reminded of.
        </p>
        <p>The spreadsheet must be formatted in this way:</p>
        <table>
            <tr>
                <th></th><th>A</th><th>B</th><th>C</th><th>D</th>
            </tr>
            <tr>
                <td><strong>1</strong></td><td>Harry Potter</td><td>1980</td><td>7</td><td>31</td>
            </tr>
            <tr>
                <td><strong>2</strong></td><td>Tom Riddle</td><td>1926</td><td>12</td><td>31</td>
            </tr>
        </table>
        <p>
            Column A is a name, Column B is the year of the birthday, Column C is the month, and Column D is the day.
            <a href="https://docs.google.com/spreadsheets/d/10p-YvP-0fcvThWnyosXUAjPFCBOZgZv4nxcRfgj2Kgw">See an example spreadsheet</a>.
        </p>
        <p>
            If you know someone's birthday, but not the year they were born, use "0" for the year, and you will be
            notified, but not told how old that person will turn on their upcoming birthday.
        </p>
        <p>
            Once you have the data in a Google Sheet, you will need to publish it as a CSV file. You do this by
            following these steps:
        </p>
        <ol>
            <li>From the <strong>File</strong> menu, choose <strong>Share &rarr; Publish to web</strong></li>
            <li>Change <strong>Web page</strong> to <strong>Comma-separated values (.csv)</strong></li>
            <li>Click the <strong>Publish</strong> button</li>
            <li>Copy the link. You will get something like <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQc1i9t7XDc9hIzBD5IokfDJazJo7HUNGMSpmG4hScXZAPoBKX7hbaL_-Id29sk6y9uEZTBK-HI8GqU/pub?gid=0&single=true&output=csv"><code>https://docs.google.com/spreadsheets/d/e/2PACX-1vQc1i9t7XDc9hIzBD5IokfDJazJo7HUNGMSpmG4hScXZAPoBKX7hbaL_-Id29sk6y9uEZTBK-HI8GqU/pub?gid=0&single=true&output=csv</code></a></li>
        </ol>
        <p>
            Come back to this page and paste the link to the CSV file into the <strong>data location:</strong>
            field at the top of the page. Subscribe to the URL that is presented to you.
        </p>
        <p>
            <strong>In a feed reader</strong>, a birthday will appear in the feed seven days before it is to be
            celebrated, which should be enough time to prepare a card or gift for the acquaintance.
        </p>
        <p>
            <strong>In a calendar</strong>, there will only be an event for the acquaintance's next birthday
            from the current day.
        </p>
        <h2>Details</h2>
        <h3>Data Location</h3>
        <p>
            You don't have to use Google Sheets to store your data. You can put a CSV file anywhere on the Internet.
            birthdayfeed does not cache the data location or the data itself.
        </p>
        <h3>Leap Day</h3>
        <p>
            Some people are born on February 29, but there is not a February 29 in every year. In years without such a
            day, the birthday will be assigned to March 1. To remove ambiguity, birthdayfeed mentions the original date
            of birth as well as the next birthday.
        </p>
        <p class="legal">
            <a href="https://github.com/williamjacksn/birthdayfeed">birthdayfeed is open source software</a>
        </p>
    </body>
</html>
