body {
    font-family: Calibri, Helvetica, Verdana, sans-serif;
}

h1 {
    background-color: #ffff99;
    padding: 5px 10px;
}

img {
    padding-bottom: 4px;
}

p.data-location {
    background-color: #ffcccc;
    padding: 5px 10px;
}

div.results {
    background-color: lightgreen;
    padding: 5px 10px;
}

p.legal {
    background-color: #ccccff;
    padding: 5px 10px;
}

code {
    font-family: Consolas, "Lucida Console", "Courier New", sans-serif;
}

.button {
    width: 100px;
}

table, td, th {
    border: 1px solid gray
}

.user-select-all {
    user-select: all;
}